# mac에서 파이썬은 처음이지?! 
### <center> 메뉴얼 입니다 </center>

기본 단축키부터 다른 맥북... 1n년간 윈도우만 쓰다가 맥북쓰려니 delete키도 못찼겠고 ㅠㅠ 단어선택 단축키도 모르겠고!
그런 당신을 위해 메뉴얼을 만들었다!

#### 1. 단축키 

* esc + b : 아래로 새로운 cell 추가 
* esc + x : cell 삭제
* esc + a : 위로 새로운 cell 추가
* esc + c : 삭제한 cell 복구 (매우중요 ⭐️)
* esc + y : code cell 로 변경
* ecs + m : 마크다운 cell로 변경 
-------------
* shift + enter : cell 실행 
* ctrl + enter : cell 실행 
-------------
* ctrl + / : 한줄 주석처리

In [8]:
import pandas as pd
import numpy as np

In [9]:
df1 = pd.read_csv('pv_m.csv')

In [11]:
df1.head()

   0  1  2  3  4  5  cnt
0  a  f  l  0  0  0    2
1  a  l  0  0  0  0    9
2  c  e  f  f  l  n    1
3  c  f  0  0  0  0  126
4  c  f  f  i  l  m    1

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 7 columns):
0      173 non-null object
1      173 non-null object
2      173 non-null object
3      173 non-null object
4      173 non-null object
5      173 non-null object
cnt    173 non-null int64
dtypes: int64(1), object(6)
memory usage: 9.6+ KB